[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gnureadline = "*"
ipdb = "*"
pytest = "*"

[packages]
flask = "*"
asyncio = "*"
requests = "*"
beautifulsoup4 = "*"
pytz = "*"
aiohttp = "*"
python-dotenv = "*"
click = "*"
flask-sqlalchemy = "*"
pyyaml = "*"
rei = {editable = true, path = "."}

[requires]
python_version = "3.7"
