[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gnureadline = "*"
ipdb = "*"
pytest = "*"

[packages]
flask = "*"
asyncio = "*"
requests = "*"
beautifulsoup4 = "*"
docopt = "*"
pytz = "*"
dashboard = {editable = true,path = "."}
aiohttp = "*"
python-dotenv = "*"
click = "*"
flask-sqlalchemy = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
