[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gnureadline = "*"
ipdb = "*"

[packages]
flask = "*"
asyncio = "*"
requests = "*"

[requires]
python_version = "3.7"
